
/* HOME PAGE STYLES */

* {
    box-sizing: border-box;
}

body{
    font-family: Lato;
    margin: 0;
    background-color:#e8eaec;
}
    
h1{
    font-size: 65px;
    font-weight: 800;
}
header{
    background-color: #fed176;
    text-align: center;
    padding-top: 10px;
    border: 2px solid black;
    font-size: large;
}

nav ul{
    list-style:none;
    padding: 20px 15px;
    margin: 20px auto;
    background: rgba(35, 1, 1, 0.414);
    border-radius: 999px;
    width: fit-content;
}

nav li{
    display: inline-block;
    margin: 0 30px;
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: white;
    text-decoration: underline;
}

main{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
img{
    border-radius: 15%;
}

.capucino{
    width: 600px;
}
h4, h5, h6{
    font-size: 15px;
}
.overview{
    background-color: #fed176;
    border-radius: 10%;
}
footer{
    text-align: center;
    border: 2px solid black;
    padding: 20px;;
    background-color: #fed176;
}
.back{
   color: black;
   text-decoration: none;
}
.back:hover{
    color: white;
}

/* CONTACT PAGE STYLES */

.contact label{
    display: flex;
    flex-direction:row;
    margin: 10px auto;
    font-weight: bold;
}

.contact input , textarea{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 40px;
    border-radius: 999px;
    border-color: white;
}

.contact button{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 20px 20px;
    background-color: darkslategray;
    border-radius: 999px;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
}

.social-icons{
    color: #6f4e37;
    text-align: center;
    font-size: 25px;
}

.FAQ{
    background-color:#fed176;
    padding: 0 30px 30px 30px
}

.FAQ details{
    background-color: #e8eaec;
    border-radius:15px;
    margin:10px auto;
}